<div class="loading-data">
    <div class="animated-background">
        <table class="loader-table" [ngStyle]="theme">
            <thead>
                <tr>
                    <th [ngStyle]="theme?.th" *ngFor="let column of config.columns; let i = index" [width]="config.columnWidths[i] + '%'">
                        <span [ngStyle]="theme?.th?.span"></span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of config.rows">
                    <td [ngStyle]="theme?.td" *ngFor="let column of config.columns; let i = index" [width]="config.columnWidths[i] + '%'">
                        <span [ngStyle]="theme?.td?.span"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>